<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <table class="table">
        <thead>
          <tr>
            <th>トプ画</th>
            <th>ユーザー名</th>
            <th>自己紹介</th>
            <th>follow</th>
            <th colspan="3"></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody class="follow">
          <%= render 'public/relationships/index', customers: @customers %>
        </tbody>
      </table>
    </div>
  </div>
</div>