<h1>Public::Customers#index</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= image_tag customer.get_profile_image(300,300) %></td>
        <td><%= customer.name %></td>
        <td><%= customer.introduction %></td>
      </tr>
    <% end %>
  </tbody>
</table>
