<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-10 mx-auto text-center">
      <table class="table">
        <thead class="table-secondary">
          <tr>
            <th>image</th>
            <th>name</th>
            <th>introduction</th>
            <th class="customer-index">follow</th>
            <th class="customer-index"></th>
            <th class="customer-index"></th>
          </tr>
        </thead>
        <tbody class="follow">
          <%= render 'public/relationships/index', customers: @customers %>
        </tbody>
      </table>
    </div>
  </div>
</div>