<h1>Public::Customers#index</h1>
<table>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th>introduction</th>
      <th>follow</th>
    </tr>
  </thead>
  <tbody class="follow">
    <%= render 'public/relationships/index', customers: @customers %>
  </tbody>
</table>
