<div class="container">
  <div class="row">
    <div class="genre-search col-md-2">
      <div class="type">
        <h6>カクテルタイプ</h6>
        <% @types.each do |type| %>
          <div class="typ-name">
            <%= link_to type.name, post_search_posts_path(type_id: type.id, model: "type" ), class: "btn btn-outline-secondary col-10 mt-2" %>
          </div>
        <% end %>
      </div>
      <div class="alcohol mt-2">
        <h6>アルコール度数</h6>
        <% @alcohols.each do |alcohol| %>
          <div class="alcohol-name">
            <%= link_to alcohol.name, post_search_posts_path(alcohol_id: alcohol.id, model: "alcohol" ), class: "btn btn-outline-secondary col-10 mt-2" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-12 col-lg-10">
      <h2 class="text-center">投稿一覧</h2>
      <p><%= link_to "投稿作成", new_post_path, class: "btn btn-outline-success" %></p>
      <div id="postindex">
        <%= render "public/posts/index1_page", posts: @posts %>
      </div>
      </div>
    </div>
  </div>
</div>