<div class="container">
  <div class="row">
    <div class="col-10 offset-1 mt-5">
      <div class="choose_box">
          <div id="q_01" class="fit">
            <p>一つ選んでください</p>
            <ul class="flexbox fw">
              <li class="even"><span class="btn" href="#q_02">ガンガン酔いたい！</span></li>
              <li class="odd"><span class="btn" href="#q_03">ほどよい弱さで！</span></li>
              <li class="odd"><span class="btn" href="#q_04">定番！</span></li>
              <li class="odd"><span class="btn" href="#q_05">セクシーな名前！</span></li>
            </ul>
          </div>


          <div id="q_02" style="display: none;">
            <p>一つ選んでください！</p>
              <ul class="flexbox fw">
              <li class="even"><span class="btn" href="#q_06">最強ロング！</span></li>
              <li class="odd"><span class="btn" href="#q_07">最強ショート！</span></li>
            </ul>
          </div>


          <div id="q_03" style="display: none;">
            <p>一つ選んでください！</p>
              <ul class="flexbox fw">
              <li class="even"><span class="btn" href="#q_08">ピーチ</span></li>
              <li class="odd"><span class="btn" href="#q_9">グレープフルーツ</span></li>
              <li class="odd"><span class="btn" href="#q_10">オレンジ</span></li>
              <li class="odd"><span class="btn" href="#q_11">とにかく甘いのがいい！</span></li>
            </ul>
          </div>


          <div id="q_04" style="display: none;">
            <p>一つ選んでください！</p>
            <ul class="flexbox fw">
              <li class="even"><span class="btn" href="#q_12">ジンベース</span></li>
              <li class="odd"><span class="btn" href="#q_13">ラムベース</span></li>
              <li class="odd"><span class="btn" href="#q_14">ウォッカベース</span></li>
              <li class="odd"><span class="btn" href="#q_15">テキーラベース</span></li>
            </ul>
          </div>


          <div id="q_05" style="display: none;">
            <p>一つ選んでください！</p>
            <ul class="flexbox fw">
              <li class="even"><span class="btn" href="#q_16">刺激の強さ『微弱』</span></li>
              <li class="odd"><span class="btn" href="#q_17">刺激の強さ『弱』</span></li>
              <li class="odd"><span class="btn" href="#q_18">刺激の強さ『中』</span></span></li>
              <li class="odd"><span class="btn" href="#q_19">刺激の強さ『強』</span></li>
            </ul>
          </div>



          <div id="q_06" style="display: none;">
            <p>あなたにおすすめなのは…</p>
            <h4>『ゴットファーザー』です！！</h4>
            <span><span class="btn" href="#q_01">もどる</span></span>
          </div>



          <div id="q_07" style="display: none;">
            <p>あなたにおすすめなのは…</p>
            <h4>『ギムレット』です！！</h4>
            <span><span class="btn" href="#q_01">もどる</span></span>
          </div>

          <div id="q_08" style="display: none;">
            <p>あなたにおすすめなのは…</p>
            <h4>『ベリーニ』です！！</h4>
            <span><span class="btn" href="#q_01">もどる</span></span>
          </div>

          <div id="q_09" style="display: none;">
            <p>あなたにおすすめなのは…</p>
            <h4>『チャイナブルー』です！！</h4>
            <span><span class="btn" href="#q_01">もどる</span></span>
          </div>

          <div id="q_10" style="display: none;">
            <p>あなたにおすすめなのは…</p>
            <h4>『もも』です！！</h4>
            <span><span class="btn" href="#q_01">もどる</span></span>
          </div>

          <div id="q_11" style="display: none;">
            <p>あなたにおすすめなのは…</p>
            <h4>『お酒』です！！</h4>
            <span><span class="btn" href="#q_01">もどる</span></span>
          </div>

          <div id="q_12" style="display: none;">
            <p>あなたにおすすめなのは…</p>
            <h4>『いちじく』です！！</h4>
            <span><span class="btn" href="#q_01">もどる</span></span>
          </div>

          <div id="q_13" style="display: none;">
            <p>あなたにおすすめなのは…</p>
            <h4>『banana』です！！</h4>
            <span><span class="btn" href="#q_01">もどる</span></span>
          </div>
      </div>
    </div>
  </div>
</div>
