<div class="container">
  <div class="row">
    <div class="col-8 offset-2 mt-5">
      <div class="timeline-show">
        <p><%= @time_line.title %><%= @time_line.customer.name %></p>
        <p><%= @time_line.body %></p>
      </div>
      <div class="time-line-comment-index">
          <%= render 'public/time_line_comments/index', time_line: @time_line %>
      </div>
    </div>
  </div>
</div>