@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'chat';
@import 'diagnose';

body {
  font-family: 'Kaiti SC',sans-serif;
}

main {
  min-height: 85vh;
}
.container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.pagination {
  justify-content: center;
}
.error-comment {
  width: auto;
}
.item-image{
  height: 500px;
  width: 500px;
}

.info-name {
  padding-left: 100px;
}
//customer詳細
.info-count {
  display: flex;
  flex-direction: row;
  .info-count-show {
    width: 150px;
    text-align: left;
  }
}
.follow-count {
  padding-right: 8%;
}
.info-introduction {
  text-align: left;
  padding-left: 40px;
}
.customer-introduction-index {
  text-align: left;
  width: 30%;
}
//投稿詳細
.post-customer {
  height: 120px;
  p {
    line-height: 120px;
    padding-left: 5%;
    padding-right: 5%;
  }
}
.post-show {
  p{
    padding-left: 5%;
  }
}
//投稿のコメント一覧
.comment-info {
  height: 80px;
  p {
    line-height: 80px;
    padding-left: 5%;
    padding-right: 5%;
  }
}
.comment {
  padding: 5%;
}
//table
.tb01 {
  width: 100%;
}
table.tb01 th {
   width: 50%;
}
.text-form {
  height: 100px;
  width: 80%;
}
table.tb01 td {
  text-align: left;
  width: 100%;
  border-bottom:none;
}

.customer-show-image {
  height: 200px;
  width: 200px;
  clip-path: circle(100px at 100px 100px);
}

.customer-show-images {
  height: 50px;
  width: 50px;
  clip-path: circle(25px at 25px 25px);
}

.customers-show-images {
  height: 100px;
  width: 100px;
  clip-path: circle(50px at 50px 50px);
}

.main-top {
  position: relative;
  width: 100%;
  height: 900px;
}

.main-top-image {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.main-top-text {
  position: absolute;
  transform: translate(-75%,-25%);
  top: 25%;
  left: 30%;
  text-align: center;
  color: white;
  font-family: 'Kaiti SC',sans-serif;
  font-size: 50px;
}

.page {
  position: relative;
  height: 100vh;
  text-align: center;
  position: relative;
}

.home-area {
  width: 80%;
  height: 80%;
  margin: auto;
  font-family: 'Kaiti SC',sans-serif;
}

.post-image {
  width: 40%;
  height: 400px;
  position: absolute;
  top: 0;
  right: 0;
}

.post-title {
  position: absolute;
  top: 100px;
  right: 600px;
}

.post-body {
  position: absolute;
  top: 200px;
  right: 650px;
}

.home-image {
  width: 40%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.home-title {
  position: absolute;
  top: 100px;
  left: 600px;
}

.home-body {
  position: absolute;
  top: 200px;
  left: 650px;
}

//headerのレイアウト

.top-header, footer{
  background-color: #CD853F;
}
.main-image {
  width: 100px;
  height: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
}

ul, li {
  list-style: none;
}
.navbar li{
  margin: 0 10px;
}

.post-card {
  width: 220px;
  height: 300px;
  box-shadow: 0 4px 0 #999999;
}

.post-card:hover {
  transform: translateY(4px);
  box-shadow: none;
}

.card-title {
  color: black;
}

.post-card:hover{
  color: black;
  text-decoration: none;
}

.follow-count {
  color: black;
}

.follow-count:hover {
  color: black;
  text-decoration: none;
}

.info-name {
  font-size: 40px;
}

.error-messages {
  border: 2px solid red;
  background-color: #ffcccc;
  >ul {
    >li {
      list-style: square;
    }
  }
}

.time-line-index {
  width: 100%;
  height: 450px;
  overflow-y: scroll;
}
.time_line-text {
  width: 70%;
  margin-left: 5%;
}
.time_line_comment-text {
  width: 50%;
}

.timeline {
  padding-left: 20%;
}
.customer-info {
  padding-left: 5%;
}
.comment-show {
  padding-left: 5%;
  padding-top: 5%;
}
.timeline-main {
  padding-left: 5%;
  margin-top: 5%;
}
.tab {
  display: flex;
  flex-wrap: wrap;

  li {
    width: 20%;
    a {
      display: block;
      background: #ddd;
      margin: 0 2px;
      padding: 10px 20px;
    }

    &.active a {
      background: #fff;
    }
  }
}

/*liにactiveクラスがついた時の形状*/

/*エリアの表示非表示と形状*/

.area {
  display: none;

  /*はじめは非表示*/
  opacity: 0;

  /*透過0*/
  background: #fff;
  padding: 50px 20px;

  &.is-active {
    display: block;

    /*表示*/
    animation-name: displayAnime;

    /*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
}

/*areaにis-activeというクラスがついた時の形状*/

@keyframes displayAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.like-posts-image {
  height: 50px;
  width: 50px;
}

.dm_list__content {
  height: 80px;
  p {
    line-height: 80px;
  }
}
.dm_list__content__link {
  &:hover {
    color: #DDDDDD;
  }
}

@media screen and (max-width: 993px) {
  .container {
    padding-top: 2rem;
  }
  header {
    width: 100%;
  }

  .main-top {
    position: relative;
    width: 100%;
    height: 600px;
  }

  .item-image{
    width: 100%;
    height: 300px;
  }

  .main-top-text {
    position: absolute;
    transform: translate(-75%,-25%);
    top: 25%;
    left: 40%;
    text-align: center;
    color: white;
    font-family: 'Kaiti SC',sans-serif;
    font-size: 25px;
  }

  .page {
    height: 100vh;
    text-align: center;
  }

  .box {
    display: flex;
  }

  .post-image {
    width: 80%;
    height: 200px;
  }

  .home-image {
    width: 80%;
    height: 200px;
  }

  .post-title {
    position: absolute;
    top: 220px;
    right: -5px;
    font-size: 28px;
  }

  .post-body {
    position: absolute;
    top: 260px;
    right: -5px;
  }

  .home-title {
    position: absolute;
    top: 220px;
    left: -5px;
    font-size: 30px;
  }

  .home-body {
    position: absolute;
    top: 260px;
    left: -5px;
  }
  //ユーザー詳細ページ
  .customer-show-image {
    width: 100px;
    height: 100px;
    clip-path: circle(50px at 50px 50px);
  }
  .tab {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 20%;
      a {
        display: block;
        background: #ddd;
        padding: 5px 2px;
        font-size: 2px;
        //margin: auto;
      }

      &.active a {
        background: #fff;
      }
    }
  }
  //ユーザー詳細画面
  .info-count {
    display:flex;
    flex-flow: column;
    text-align: left;
  }
  .info-name {
    padding-left: 50px;
  }
  //ユーザー一覧
  .customer-index {
    display: none;
  }
  .customers-show-images {
    width: 50px;
    height: 50px;
    clip-path: circle(25px at 25px 25px);
  }
   //投稿一覧
  .card-img-top {
    height: 140px;
    width: auto;
  }
  .post-card {
    width: 130px;
    height: 200px;
    box-shadow: 0 4px 0 #999999;
  }
  .genre-search {
    display: none;
  }
  //投稿詳細画面
  .post-show {
    margin-top: 5px;
  }
  .info-name {
    font-size: 20px;
  }
  .post-customer {
    height: 70px;
    p {
      line-height: 70px;
    }
  }
  .tb01 {
    width: 100%;
  }
  table.tb01 th,
  table.tb01 td {
    text-align: left;
    display: block;
    width: 100%;
    border-bottom:none;
  }
  //タイムライン
  .timeline {
    padding-left: 0px;
  }
  .customer-info {
    width: 200px;
    padding-left: 5px;
  }
  .comment-show, .timeline-main {
    display:flex;
    flex-flow: column;
    text-align: left;
    margin-left: 5%;
  }
}
