@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  font-family: 'Kaiti SC',sans-serif;
}

main {
  min-height: 85vh;
}

.item-image{
  height: 500px;
  width: 500px;
  }

//診断機能のscss
.choose_box {
  position: relative;
  height: 60vw;
  width: 100%;

  p {
    font-size: 24px;
    display: block;
    font-weight: 600;
  }

  ul {
    width: 80%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    li {
      width: calc(100% / 2 - 20px);
      margin-right: 20px;
      margin-bottom: 20px;
      list-style: none;
      border: solid;

      &:nth-child(2n) {
        margin-right: 0;
      }

      a {
        color: #fff;
        display: block;
        padding: 20px 60px;
        text-align: center;
        background-color: #2791d4;
        font-weight: 600;
        font-size: 18px;
        border: 2px solid #2791d4;
        text-decoration: none;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;

        &:hover {
          background-color: #fff;
          color: #2791d4;
          -webkit-transition: 0.7s;
          -moz-transition: 0.7s;
          -o-transition: 0.7s;
          transition: 0.7s;
        }
      }
    }
  }
}

h4 {
  width: 50%;
  clear: both;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background-color: #C00003;
}

.fit {
  position: absolute;
  left: 0px;
  top: 20px;
  width: 100%;
}

#q_06 span, #q_07 span, #q_08 span, #q_09 span, #q_10 span, #q_11 span, #q_12 span, #q_13 span, #q_14 span, #q_15 span, #q_16 span, #q_17 span {
  width: 30%;
  clear: both;
  margin: auto;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  background-color: #C00003;
  display: block;
}

.customer-show-image {
  height: 200px;
  width: 200px;
}

.customer-image{
  clip-path: circle(100px at 100px 100px);
}

.customer-images{
  clip-path: circle(50px at 50px 50px);
}

.customers-images{
  clip-path: circle(25px at 25px 25px);
}



.main-top {
  position: relative;
  width: 100%;
  height: 900px;
}

.main-top-image {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.main-top-text {
  position: absolute;
  transform: translate(-75%,-25%);
  top: 25%;
  left: 30%;
  text-align: center;
  color: white;
  font-family: 'Kaiti SC',sans-serif;
  font-size: 50px;
}

.page {
  position: relative;
  height: 100vh;
  text-align: center;
  position: relative;
}

.home-area {
  width: 80%;
  height: 80%;
  margin: auto;
  font-family: 'Kaiti SC',sans-serif;
}

.post-image {
  width: 40%;
  height: 400px;
  position: absolute;
  top: 0;
  right: 0;
}

.post-title {
  position: absolute;
  top: 100px;
  right: 600px;
}

.post-body {
  position: absolute;
  top: 200px;
  right: 650px;
}

.home-image {
  width: 40%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.home-title {
  position: absolute;
  top: 100px;
  left: 600px;
}

.home-body {
  position: absolute;
  top: 200px;
  left: 650px;
}

//headerのレイアウト

.top-header, footer{
  background-color: #CD853F;
}

.footer {
  position: absolute;
  bottom: 0;
}

ul, li {
  list-style: none;
}
.navbar li{
  margin: 0 10px;
}

.post-card {
  width: 220px;
  height: 300px;
  box-shadow: 0 4px 0 #999999;
}

.post-card:hover {
  transform: translateY(4px);
  box-shadow: none;
}

.card-title {
  color: black;
}

.post-card:hover{
  color: black;
  text-decoration: none;
}

.follow-count {
  color: black;
}

.follow-count:hover {
  color: black;
  text-decoration: none;
}

.info-name {
  font-size: 40px;
}

.error-messages {
  border: 2px solid red;
  background-color: #ffcccc;
  >ul {
    >li {
      list-style: square;
    }
  }
}

.time-line-index {
  width: 800px;
  height: 450px;
  overflow-y: scroll;
}

//DM機能のレイアウト
.message {
  background-color: #EEEEEE;
  width: 100%;
  height: 500px;
  overflow-y: scroll;
}


.balloon1-left {
  position: relative;
  margin: 2em 0 2em 40px;
  padding: 15px;
  background: #fff0c6;
  border-radius: 30px;

  &:before {
    content: "";
    position: absolute;
    left: -38px;
    width: 13px;
    height: 12px;
    bottom: 0;
    background: #fff0c6;
    border-radius: 50%;
  }

  &:after {
    content: "";
    position: absolute;
    left: -24px;
    width: 20px;
    height: 18px;
    bottom: 3px;
    background: #fff0c6;
    border-radius: 50%;
  }

  .p {
    margin: 0;
    padding: 0;
  }
}

.balloon1-right {
  position: relative;
  margin: 2em 0 2em 40px;
  padding: 15px;
  background: #fff0c6;
  border-radius: 30px;

  &:before {
    content: "";
    position: absolute;
    right: -38px;
    width: 13px;
    height: 12px;
    bottom: 0;
    background: #fff0c6;
    border-radius: 50%;
  }

  &:after {
    content: "";
    position: absolute;
    right: -24px;
    width: 20px;
    height: 18px;
    bottom: 3px;
    background: #fff0c6;
    border-radius: 50%;
  }

  p {
    margin: 0;
    padding: 0;
  }
}


//診断機能
.check-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
}


.tab {
  display: flex;
  flex-wrap: wrap;

  li {
    a {
      display: block;
      background: #ddd;
      margin: 0 2px;
      padding: 10px 20px;
    }

    &.active a {
      background: #fff;
    }
  }
}

/*liにactiveクラスがついた時の形状*/

/*エリアの表示非表示と形状*/

.area {
  display: none;

  /*はじめは非表示*/
  opacity: 0;

  /*透過0*/
  background: #fff;
  padding: 50px 20px;

  &.is-active {
    display: block;

    /*表示*/
    animation-name: displayAnime;

    /*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
}

/*areaにis-activeというクラスがついた時の形状*/

@keyframes displayAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.like-posts-image {
  height: 50px;
  width: 50px;
}