<h1>Public::TimeLines#index</h1>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="time-line-index">
        <%= render 'public/time_lines/index', time_lines: @time_lines %>
      </div>
      <div class="time-line-form">
        <% if customer_signed_in? %>
          <%= render 'public/time_lines/form', time_line: @time_line %>
        <% else %>
          <p>新規登録かログイン後に投稿できます。</p>
        <% end %>
      </div>
    </div>
  </div>
</div>