<% if obj.errors.any? %>
  <div class="col-lg-8 my-auto error-messages">
    <h3><%= obj.errors.count %>件のエラー</h3>
    <ul class="pt-3 text-dark">
      <% obj.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>